%button-style {
  background-color: #ba4270;
  min-width: 173px;
  height: 48px;
  border-radius: 24px;
  border: none;
  color: #fbfcfe;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.1px;
  text-align: center;
  transition: all ease-in-out 0.5s;
  margin-left: auto;
}
%hPrice {
  margin-top: 82px;
  padding-bottom: 27px;
  margin-right: auto;
  margin-left: auto;

  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.430769px;
  color: #36536b;
}


// %firm-logos {

// }
// %oracle-img {

// }
// %google-img {
  
// }

// %nvidia-img {
 
// }
// %codeform-style {

// }

// %code-img-style {
  
// }

// // %textcode

// %h2-textcode-style {

// }
// %p-textcode-style {

// }

// %mobconteiner-style {

// }
// %mobilebottom {

// }
// %textbottom-h2 {

// }
// %textbottom-p {

// }

// %mobiledbimg-style {
 
// }
// %mobilebr-style {
  
// }
// %infologo-style {

// }
// %imgmb-style {
  
// } 

// %personal-finansec-style {

// }
// %h4-style {

// }
// %personal-finansec-style-p {

// }

// %formready-style {

// }
// %readystart-style {

// }

// %footer-style {

// }
// %sectionfooter-style {

// }
// %logobottom-style {
 
// }

// %botomform-style {

// }

// %botomform-a {

// }

// %botomform-a-hover {
//   /* color: #FBFCFE; */

// }

// %socian-style {

// }
